<h1>Candidate Details</h1>
{% if errors%}
 {%for e in errors%}
   <li>{{e}}</li>
 {%endfor%}
{%endif%}


<form method="post" enctype="multipart/form-data">
    <label>Name:</label>
    <input name="name" type="text" value="{{name}}">
    <lable>Email:</lable>
    <input name="email" type='text'>
    <lable>Phone:</lable>
    <input name="phone" type="text">
    <label>ECE classification:</lable>
    <input name="level" type="text">
    <label>Experience(which age group):</label>
    <input name='experience' type="textarea">
    
    <label>Resume:</label>
    <input name="resume" type="file" required>
    <label>Cover letter:</label>
    <input name="cover_letter" type="file">
    <button type="submit">Submit</button>
    </form>